* {
  text-align: center;
  color: white;
}

body {
  background-color: black;
}

.capsule {
  padding: 15%;
  border 3px solid white;
}

.main {
  font-family: 'Pauta One';
}

.sub {
  font-family: 'Roboto', sans-serif;
}

.links {
  font-family: 'Roboto', sans-serif;
  padding: 1px;
  border-radius: 5px;
  border: 1px solid white;
}
